<div class="mt-4">
    <div class="row">
        <div class="col-lg-3">
            <div class="card text-center" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title mb-4">Bạn đã đăng ký khóa học</h5>
                    <a href="#" class="btn btn-dark mb-4">Học ngay</a>
                    <p class="card-text mb-4">Tổng 255 video</p>
                    <p class="card-text mb-4">Trình độ trung bình</p>
                    <p class="card-text mb-4">Truy cập mọi lúc mọi nơi</p>
                </div>
            </div>

        </div>
        <div class="col-lg-9">
            <h2>{{course.name}}</h2>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/{{course.videoId}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <p>{{course.description}}</p>
        </div>  
    </div>
</div>